@model List<model.entity.Recibo>
@{
    ViewBag.Title = "Pago";
    decimal total = Convert.ToDecimal(TempData["total"]);
    double cuota = Convert.ToDouble(TempData["cuota"]);
    int meses = Convert.ToInt32(TempData["meses"]);
}

<h2>Pago Mediante Arreglo de Pago</h2>
<div class="container-fluid">
    <table class="table">
        <tr class="btn-success">
            <th>ID Recibo</th>
            <th>Fecha</th>
            <th>Concepto de Cobro</th>
            <th>Monto</th>
            <th>Intereses</th>
        </tr>
        @foreach (var objetoRecibo in Model)
        {
            <tr>
                <td>@objetoRecibo.IdRecibo</td>
                <td>@objetoRecibo.FechaEm</td>
                <td>@objetoRecibo.NombreCC</td>
                <td>@objetoRecibo.Monto</td>
                <td>@objetoRecibo.MontoI</td>
            </tr>
        }
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th><b>Monto Total</b></th>
            <th>@total</th>
        </tr>
    </table>
    <form action="~/AP/PagoR" method="post">
        <b>Plazo en meses</b>
        <input type="number" min=1 name="meses" autofocus value=@meses />
        <b>Cuota mensual</b>
        <input type="text" value=@cuota readonly />
        <input type="submit" class="btn btn-warning" value="Calcular">
    </form>
    <br /><br />
    <a class="btn btn-info" href="~/Recibo/ReciboPendiente">Crear AP</a>
</div>
