@model model.entity.Bitacora
@{
    ViewBag.Title = "Find";
}

<h2>Datos de Entrada</h2>
@using (Html.BeginForm())
{
<div class="form-horizontal">
    <div class="form-group">
        @Html.LabelFor(model => model.IdBitacora, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-6">
            @Html.DisplayFor(model => model.IdBitacora, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Fecha, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-6">
            @Html.DisplayFor(model => model.Fecha, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Hora, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-6">
            @Html.DisplayFor(model => model.Hora, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Usuario, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-6">
            @Html.DisplayFor(model => model.Usuario, new { htmlAttributes = new { @class = "form-control", @value = "return " } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Ip, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-6">
            @Html.DisplayFor(model => model.Ip, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.IdTipo, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-6">
            @Html.DisplayFor(model => model.IdTipo, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.IdEntidad, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-6">
            @Html.DisplayFor(model => model.IdEntidad, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Jsonantes, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-6">
            @Html.DisplayFor(model => model.Jsonantes, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Jsondespues, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-6">
            @Html.DisplayFor(model => model.Jsondespues, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
</div>
}

